
@model DnTeam.Models.Labels
@{
    ViewBag.Title = Resources.Labels.Localization_Edit_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Labels.Localization_Edit_Title</h2>
<ul class="localization">
@foreach (var v in Model.Values)
{
    <li>@Html.Label(v.Key)@Html.TextBox(v.Key, v.Value)</li>
}
</ul>

@section HeadScripts {
<script type="text/javascript">
    $().ready(function () {
        $("input[type=text]").change(function () {
            var element = $(this);
            $.post('@Url.Action("SaveValue", "Localization")', { lang: '@(Model.Culture)', name: element.attr('name'), value: element.val() }, function (data) {
                if (data == null) {
                    showOk(element);
                } else {
                    showError(element, data);
                }
            }, 'json');
        });
    });
</script>
}
