@using DnTeam.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>
    <script type="text/javascript">
        function onEdit(e) {
                $(e.form).find('#ProjectStatus').data('tDropDownList').select(function (dataItem) {
                    return dataItem.Text == e.dataItem['ProjectStatus'];
                });
            }
    </script>
@(Html.Telerik().Grid<ProjectGridModel>()
        .Name("Grid")
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText))
        .DataKeys(keys => keys.Add(o => o.Id))
        .DataBinding(dataBinding => dataBinding.Ajax()
                                            .Select("Select", "Project")
                                            .Insert("Insert", "Project")
                                            .Update("Save", "Project")
                                            .Delete("Delete", "Project"))
        .Columns(columns =>
        {
            columns.Bound(o => o.Details).Width(45).Encoded(false).Title("").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.Priority).Width(45);
            columns.Bound(o => o.Product);
            columns.Bound(o => o.Name);
            columns.Bound(o => o.ProjectStatus);
            columns.Bound(o => o.ProjectType);
            columns.Bound(o => o.ProgramManager);
            columns.Bound(o => o.TechnicalLead);
            columns.Bound(o => o.Noise);
            columns.Bound(o => o.CreatedDate).Width(200);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.ImageAndText);
                commands.Delete().ButtonType(GridButtonType.ImageAndText);
            }).Width(200).Title("Edit");
        })
        .Filterable()
        .ClientEvents(events => events.OnEdit("onEdit"))
)

